# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_vendor/
*.idea/

# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test coverage
*.cover
*.out

# Project-specific binary
bin/

# Dependency directories (Golang)
vendor/

# OS-specific files
.DS_Store
Thumbs.db

# Go specific files
.idea
.vscode
*.log

# Environment configuration
.env
